.container-rs{
    padding-top: 10rem;
}
.btn-secondary {
    border: 1px solid var(--black);
    color: var(--black);
}
.btn {
    padding: 12px 30px;
    background-color: white;
    transition: var(--transition-1);
}