{% extends 'base.html' %}


{% block content %}
<link href="/static/css/bestseller.css" rel="stylesheet" />
        
<link href="static/css/styles.css" rel="stylesheet" />

<section class="home" id="home">
    <div class="row">
      <div class="content">
        <h3>Best Seller</h3>
        <p>
            Explore our curated selection of the hottest products flying off the shelves. From must-have gadgets to bestselling books,
             these are the items everyone's talking about.
        </p>
      </div>

      <div class="swiper books-slider">
        <div class="swiper-wrapper">
          <a href="#" class="swiper-slide">
            <img src="/static/img/indian art& culture.jpg" alt=""/>
        </a>
          <a href="#" class="swiper-slide">
            <img src="/static/img/Einstein.jpg" alt=""/>
        </a>
          <a href="#" class="swiper-slide">
            <img src="/static/img/the wright brother.jpg" alt=""/>
        </a>
          <a href="#" class="swiper-slide">
            <img src="/static/img/you can.jpg" alt=""/>
        </a>
        </div>
        <br>
        <img src="/static/img/stand.png" class="stand" alt="" />
      </div>
    </div>
  </section>
        
        <!-- Section-->
        <section class="py-5">

            <div class="container-2 px-4 px-lg-5 mt-5">
            
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        
                {% for bsproduct in bsproducts %}
                    {% if product.is_sale %}
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="font-family: var(--bs-body-font-family);
                            font-size: var(--bs-body-font-size); top: 0.5rem; right: 0.5rem">Sale</div>

                            <!-- Product image-->
                            <img class="card-img-top" src="{{ bsproductt.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ bsproduct.name }}</h5>
                                    <!-- Sale -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill">
                                        </div>
                                             &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                                <div class="bi-star-fill"></div>
                                            </div>
                                    <!--Product Category-->
                                    <div class="genre">
                                        <span>{{bsproduct.category}}</span>
                                    </div>

                                    <!-- Product price-->
                                    <strike>
                                        ₹{{bsproduct.price }}
                                    </strike>
                                    &nbsp;
                                    ₹{{bsproduct.sale_price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn-a btn btn-outline-dark mt-auto" href="{% url 'bsproduct' bsproduct.id  %}">View Product</a>
                            </div>
                            </div>
                        </div>
                    </div>


                    {% else %}
                <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ bsproduct.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ bsproduct.name }}</h5>
                                    <!--Product Category-->
                                    <div class="genre">
                                        <span>{{bsproduct.category}}</span>
                                    </div>
                                    <!-- Product price-->
                                    ₹{{bsproduct.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'bsproduct' bsproduct.id %}">View Product</a>
                                </div>
                            </div>
                        </div>
                    </div>

                        {% endif %}
                    {% endfor %}


            </div>
        </section>
          

{% endblock %}
