{% extends 'base.html' %}
{% block content %}
<link href="/static/css/product.css" rel="stylesheet" />


<section class="section-p">
  <div class="container-p">
    <br/>
    
    
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ oneproduct.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <center>
              <h5 class="card-title">{{ oneproduct.name }}</h5>
              <br/>
              <p class="card-text justified">{{ oneproduct.description }}</p>
              <br>
            
              {% if oneproduct.is_sale %}
              <div class="d-flex mb-2">
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
              </div>
    
              <!-- Product price-->
                <div class="cart-price">
                  <strike>
                    <h3>₹{{ oneproduct.price }}</h3>
                  </strike>
                  &nbsp;
                    <h2>₹{{ oneproduct.sale_price }}</h2>
                </div>  
                {% else %}
                  <div class="cart-price">
                    <h3>₹{{ oneproduct.price }}</h3>
                  </div>    
                {% endif %}
                <br/><br/>
                <div class="row justify-content-center">
                  <div class="col-md-2">Quantity:</div>
                  <div class="col-md-2">
                    <select class="form-select form-select-sm" id="qty-cart-one">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <br/><br/>
                <div class="pro-btn">
                  <button type="button" value="{{ product.id }}" class="btn btn-home btn-secondary" id="add-cart">
                    <i class="fa-solid fa-cart-shopping" alt="" width="20px" height="20px"></i>Add To Cart
                  </button>
                  <br>
                  <a href="{% url 'home'%}" class="btn btn-home btn-secondary">Home</a>         
                </div>                  
            </center>
          </div>
        </div>
      </div>
      <div class="detail-customer">
        <div class="book-detail tabcontent" id="detail">
          <div class="detail-line">
            <strong>Book Title</strong><span>{{oneproduct.name}}</span>
          </div>
          <div class="detail-line">
            <strong>Author</strong><span>{{oneproduct.author}}</span>
          </div>
          <div class="detail-line">
            <strong>ISBN-13</strong><span>{{oneproduct.isbn}}</span>
          </div>
          <div class="detail-line">
            <strong>Edition Language</strong><span>{{oneproduct.edition_language}}</span>
          </div>
          <div class="detail-line">
            <strong>Book Format</strong><span>{{oneproduct.book_formate}}</span>
          </div>
          <div class="detail-line tag-line">
            <strong>Tags</strong>
            <div class="tags">
              <span>{{oneproduct.category}}</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>  

<script>
// Check if button pressed
$(document).on('click', '#add-cart-one', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
    oneproduct_id: $('#add-cart-one').val(),
    oneproduct_qty: $('#qty-cart-one option:selected').text(),
    csrfmiddlewaretoken: '{{ csrf_token }}',
    action: 'post'
        },

        success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },

        error: function(xhr, errmsg, err){

        }


    });



})
</script>


{% endblock %}