{% extends 'base.html' %}
{% block content %}

<link href="/static/css/search.css" rel="stylesheet" />


<section class="py-5">
    {% if searched %}
        {% for product in searched %}
            {% if product.is_sale %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>

                        <!-- Product image-->
                        <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Sale -->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                     &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                    <div class="bi-star-fill"></div>
                                </div>

                                <!-- Product price-->
                                <strike>
                                    ₹{{ product.price }}
                                </strike>
                                &nbsp;
                                    ₹{{ product.sale_price }}
                                </div>
                                <br>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id  %}">View Product</a>
                                    </div>
                                </div>                               
                            </div>
                            <!-- Product actions-->
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <br>
                                <!-- Product price-->
                                ₹{{ product.price }}
                                <br><br>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                                </div>
                            </div>                                                        
                        </div>                          
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
</section>
