{% extends 'base.html' %}
{% block content %}

<!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/static/css/about.css">


<section id="about" class="about">
    <div class="container3">
      <h1>WHY CHOOSE US?</h1>
      <div class="row">
        <div class="image">
          <img src="/static/img/img4.svg" alt="" />
        </div>

        <div class="content">
          <h3>best book store in the world</h3>
          <p>
            Welcome to Knowledge Shop, your premier destination for all things literary. We're passionate about books and the 
            transformative power they hold, and we're dedicated to providing book enthusiasts with a seamless online shopping experience. 
            Whether you're an avid reader, a casual book lover, or searching for the perfect gift, we've got you covered.
          </p>
          <p>
            At Knowledge Shop, we believe that books have the extraordinary ability to inspire, educate, and entertain. That's why we've 
            curated a diverse collection of titles spanning various genres, from timeless classics to contemporary bestsellers. Our carefully 
            selected inventory ensures that there's something for everyone, catering to a wide range of tastes and interests.
          </p>
          <p>
            What sets us apart is our commitment to customer satisfaction. We understand that every book lover has unique preferences, which is 
            why we strive to offer personalized recommendations and exceptional customer service. Whether you're seeking a specific title or 
            exploring new literary territory, our knowledgeable team is here to assist you every step of the way.
          </p>
          <p>
            In addition to our extensive book selection, we're proud to offer competitive prices and convenient shipping options, making it easier 
            than ever to indulge in your passion for reading. Our user-friendly website is designed to provide a hassle-free shopping experience, 
            with intuitive navigation and secure payment processing.
          </p>
          <p>
            But Knowledge Shop is more than just a place to buy books – it's a community of fellow book enthusiasts who share a love for 
            storytelling and the written word. We're dedicated to fostering connections and sparking conversations around literature, whether 
            through our blog, social media channels, or exclusive events.
          </p>
          <p>
            Thank you for choosing Knowledge Shop as your trusted source for all things book-related. We're excited to embark on this literary 
            journey with you and look forward to helping you discover your next great read. Happy reading!
          </p>
          <div class="icons-container">
            <div class="icons">
              <i class="fas fa-shield"></i>
              <span>safe delivery</span>
            </div>
            <div class="icons">
              <i class="fas fa-wallet"></i>
              <span>easy payments</span>
            </div>
            <div class="icons">
              <i class="fas fa-headset"></i>
              <span>24/7 service</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}