{% extends "base.html" %}

{% block content %}
<link href="/static/css/todaydeal.css" rel="stylesheet" />
        
        <!-- Section-->
        <section class="py-5">

            <div class="container-2 px-4 px-lg-5 mt-5">
            
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        
                {% for twoproduct in twoproducts %}
                    {% if twoproduct.is_sale %}
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge-s bg-dark-s text-white-s position-absolute">Sale</div>

                            <!-- Product image-->
                            <img class="card-img-top" src="{{ twoproduct.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ twoproduct.name }}</h5>
                                    <!-- Sale -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill">
                                        </div>
                                             &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                                <div class="bi-star-fill"></div>
                                            </div>
                                    <!--Product Category-->
                                    <div class="genre">
                                        <span>{{twoproduct.category}}</span>
                                    </div>

                                    <!-- Product price-->
                                    <strike>
                                        ₹{{ twoproduct.price }}
                                    </strike>
                                    &nbsp;
                                    ₹{{ twoproduct.sale_price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn-a btn btn-outline-dark mt-auto" href="{% url 'twoproduct' twoproduct.id %}">View Product</a>
                            </div>
                            </div>
                        </div>
                    </div>


                    {% else %}
                <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ twoproduct.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ twoproduct.name }}</h5>
                                    <!--Product Category-->
                                    <div class="genre">
                                        <span>{{twoproduct.category}}</span>
                                    </div>
                                    <!-- Product price-->
                                    ₹{{ twoproduct.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'twoproduct' twoproduct.id %}">View Product</a>
                                </div>
                            </div>
                        </div>
                    </div>

                        {% endif %}
                    {% endfor %}


            </div>
        </section>

{% endblock %}