{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/update.css">

<section >
<div class="container-update" >

  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Profile</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update User Profile...</p>
        </div>
    </div>
</header>

  <form method="POST" action="{% url 'update_user' %}">
    {% csrf_token %}

    {{ user_form.as_p }}
    <br /><br />
    <button type="submit" class="btn btn-secondary">
      Update Profile
    </button>
  </form>

  <br /><br />
  <a href="{% url 'update_password' %}" class="btn btn-secondary">Update Password</a>

  </div>

  </div>
  </div>

</div>
</section>


{% endblock %}